.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.cart-container {
    background-color: rgba(177, 174, 170, 0.3);
    height: 500px;
    position: sticky;
    top: 0;
    padding-right: 40px;

}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 100px 50px;
}

@media screen and (max-width: 1300px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .shop-container {
        /* display: grid; */
        grid-template-columns: 3fr 1fr;
    }

}

@media screen and (max-width: 600px) {
    .shop-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .products-container {
        display: block;
        gap: 25px;
        margin: 50px 20px;
    }

    .shop-container {
        grid-template-columns: 2fr 1fr;
    }

}